@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media only screen and (min-width: 992px) {
    #nav {
      display: none;
    }
  }
  .bg {
    background-image: url("./assets/home/bg2.jpeg");
  }
  .bg-2 {
    background-image: url("./assets/home/bg3.png");
  }
  .bg-3 {
    background-image: url("./assets/home/bg5.jpeg");
  }
  #line-clamp {
    width: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

/* 
module.exports = {
  theme: {
    screens: {
      'sm': '640px',
      => @media (min-width: 640px) { ... }

      'md': '768px',
      => @media (min-width: 768px) { ... }

      'lg': '1024px',
      => @media (min-width: 1024px) { ... }

      'xl': '1280px',
      => @media (min-width: 1280px) { ... }

      '2xl': '1536px',
      => @media (min-width: 1536px) { ... }
    }
  }
}
*/
