@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media only screen and (min-width: 992px) {
    #nav {
      display: none;
    }
  }
  .bg {
    background-image: url("./assets/home/bg22.jpeg");
  }
  .bg-2 {
    background-image: url("./assets/home/bg3.png");
  }
  .bg-3 {
    background-image: url("./assets/home/bg5.jpeg");
  }
  .bg-4 {
    background-image: url("./assets/services/CBTTestingBackground2.jpeg");
  }
  .bg-4 {
    background-image: url("./assets/services/CBTTestingBackground2.jpg");
    background-size: cover;
    background-position: top;
    object-fit: fill;
    /* object-position: center; */
    background-repeat: no-repeat;
  }
  #line-clamp {
    width: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .shadow {
    text-shadow: 2px 2px #6463a1;
  }


  /* .App {
    text-align: center;
  }

  .container {
    max-width: 960px;
    padding: 40px;
    margin: 0 auto;
  }

  h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
  }

  h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.75;
    margin: 0;
  }

  .word-wrapper {
    white-space: nowrap;
  }

  button {
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    appearance: none;
    cursor: pointer;
    color: #999;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  button span {
    margin-left: 5px;
  } */

}

/* 
module.exports = {
  theme: {
    screens: {
      'sm': '640px',
      => @media (min-width: 640px) { ... }

      'md': '768px',
      => @media (min-width: 768px) { ... }

      'lg': '1024px',
      => @media (min-width: 1024px) { ... }

      'xl': '1280px',
      => @media (min-width: 1280px) { ... }

      '2xl': '1536px',
      => @media (min-width: 1536px) { ... }
    }
  }
}
*/
